.NavigationItem {
	margin: 10px 0;
	box-sizing: border-box;
	display: block;
	width: 100%;
}

.NavigationItem a {
	text-decoration: none;
	width: 100%;
	box-sizing: border-box;
	display: block;
	color: #f7f7f7;
	padding: 4px 0;
	border-radius: 3px;
}

.NavigationItem a:hover,
.NavigationItem a:active,
.NavigationItem a.active {
	background-color: rgba(247, 247, 247, 0.6);
	color: #000;
	box-shadow: 0 1px 4px rgba(247, 247, 247, 0.8);
}

@media (min-width: 500px) {
	.NavigationItem {
		margin: 0;
		display: flex;
		height: 98%;
		width: auto;
		align-items: center;
	}

	.NavigationItem a {
		text-decoration: none;
		height: 100%;
		padding: 16px 10px;
		border-bottom: 4px solid transparent;
		border-radius: 0;
	}

	.NavigationItem a:hover,
	.NavigationItem a:active,
	.NavigationItem a.active {
		background-color: rgba(247, 247, 247, 0.6);
		/* border-bottom: 2px solid #f7f7f7; */
		/* border-radius: 3px; */
	}
}
